body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6f0404; /* Change the color code as needed */
    position: relative;
}

video {
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
}
