body {
    font-family: Arial, sans-serif; /* Use Arial or sans-serif font for text */
    padding-top: 200px; /* Add padding to the top for centering the block-container */
    background-color: #dcc688cc; /* Set background color for the body */
}

.block-container {
    width: 60%; /* Set width for the block-container/calculator */
    margin: auto; /* Center the calculator */
    background-color: #ffffff7f; /* Set background color for the block-container */
    border: 2px solid black; /* Add border around the block-container */
    border-radius: 15px; /* Set border radius for rounded corners */
}

h1 {
    text-align: center; /* Center-align the title */
    color: #ffffff; /* Set text color for the title */
    background-color: #000000; /* Set background color for the title */
    margin-top: 0%; /* Adjust top margin of the heading */
    border-bottom: 2px solid black; /* Add bottom border for the title */
    border-radius: 15px 15px 0 0; /* Set border radius for rounded corners */
    padding: 10px; /* Add padding for the title */
}

.input-container {
    display: flex; /* Use flexbox for input fields */
    justify-content: center; /* Center-align the input fields */
    margin-top: 20px; /* Add margin at the top for spacing */
}

input[type="number"] {
    width: 100px; /* Set width for input fields */
    padding: 8px; /* Add padding for input fields */
    border: 1px solid #ccc; /* Add border for input fields */
    border-radius: 5px; /* Set border radius for input fields */
    outline: none; /* Remove outline */
}

input[type="number"]:focus {
    border-color: rgb(0, 0, 0); /* Change border color when focused */
}

.btn {
    text-align: center; /* Center-align the button */
    margin-top: 30px; /* Add margin at the top for spacing */
}

button {
    padding: 10px 20px; /* Add padding for the button */
    background-color: rgb(255, 255, 255); /* Set background color for the button */
    border: .5px solid black; /* Add border for the button */
    border-radius: 15px; /* Set border radius for the button */
    cursor: pointer; /* Set cursor style for the button */
}

button:hover {
    background-color: rgb(176, 176, 176); /* Change background color when hovered */
}

p {
    text-align: center; /* Center-align the total amount */
    margin-top: 20px; /* Add margin at the top for spacing */
}

#totalAmount {
    font-size: 24px; /* Set font size for the total amount */
    font-weight: bold; /* Set font weight for the total amount */
}
